<div class="custom-container">
	<div class="well">
		<h3>Editing Topic</h3>
		<hr class="hr">

		<%= render 'form', topic: @topic %>
		<hr class="hr">
		<div class="btn btn-info">
			<%= link_to 'Show', @topic %> |
			<%= link_to 'Back', topics_path %>
		</div>
	</div>
</div>