<div class="custom-container">
  <div class="well">
	<h3>New Topic</h3>
	<hr class="hr">
	<%= render 'form', topic: @topic %>
	<hr class="hr">
	<%= link_to 'Back', topics_path, { :class=>"pull-right btn btn-info" }  %>
	<br>
  </div>
</div>